.contacto {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    .contenedor-contacto {
        display: flex;
        flex-direction: column;
        background-color: $azul-claro;
        width: 98%;
        border-radius: 10px;
        .datos-mapa {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0 0 30px;
            @include tablet {
                flex-direction: column;
                text-align: center;
            }
            .datos-contacto {
                p {
                    i {
                        margin-right: 5px;
                    }
                    color: rgb(206, 205, 205);
                }
            }
            .mapa {
                iframe {
                    @include tablet {
                        width: 80%;
                    }
                }
                margin-top: 30px;
            }
        }
    }
}