.datos {
  margin-top: 20px;
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
  .contenedor-datos {
    label {
      color: white;
    }
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10px;
    .boton {
      margin-top: 10%;
      margin-left: 30%;
      display: flex;
      font-size: 1.2rem;
      align-items: center;
      justify-content: center;
      color: $blanco;
      width: 40%;

      text-decoration: none;

      box-shadow: 8px 7px 5px 3px rgba(0, 0, 0, 0.74);
      -webkit-box-shadow: 8px 7px 5px 3px rgba(0, 0, 0, 0.74);
      -moz-box-shadow: 8px 7px 5px 3px rgba(0, 0, 0, 0.74);
      border-radius: 50px;
      background-color: $azul-claro;
      transition: all 0.4s ease-out;
      @include tablet {
        display: none;
      }
      &:hover {
        transform: scale(1.2);
        box-shadow: 18px 17px 24px 3px rgba(0, 0, 0, 0.74);
        -webkit-box-shadow: 18px 17px 24px 3px rgba(0, 0, 0, 0.74);
        -moz-box-shadow: 18px 17px 24px 3px rgba(0, 0, 0, 0.74);
      }
    }
  }
}
