.productos {
    display: flex;
    justify-content: center;
    .contenedor-productos {
        margin-top: 40px;
        background-color: $azul;
        width: 98%;
        border-radius: 10px;
        .cards {
            margin: 0 auto;
            .contenedor-cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
                .product {
                    background-color: $azul-claro;
                    border-radius: 50px;
                    text-align: center;
                    position: relative;
                    width: 380px;
                    height: 380px;
                    color: white;
                    cursor: pointer;
                    transition: 1s ease-in-out;
                    transform-style: preserve-3d;
                    box-shadow: 0px 10px 20px #000000;
                    margin-bottom: 30px;
                    &:hover {
                        transform: rotateY(0.5turn);
                    }
                    .card__face {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        font-size: 1.3rem;
                        backface-visibility: hidden;
                        transition: 1s ease-in-out;
                        img {
                            margin-top: 20px;
                            border-radius: 50%;
                            width: 70%;
                            height: 70%;
                        }
                        &--front {
                            p {
                                font-size: 3rem;
                                position: relative;
                                margin-top: 0;
                                width: 100%;
                            }
                            z-index: 200;
                        }
                        &--back {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            table,
                            tr {
                                border: 1px solid $blanco;
                                text-align: left;
                                font-size: 80%;
                            }
                            transform: rotateY(0.5turn);
                        }
                    }
                }
            }
            .hidden {
                display: none;
            }
        }
        a {
            cursor: pointer;
            margin: 20px auto;
            text-align: center;
            text-decoration: none;
            background: rgba(4, 4, 4, 0.81);
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
            border-radius: 50px;
            display: flex;
            font-size: 1rem;
            align-items: center;
            justify-content: center;
            color: $blanco;
            width: 15%;
            height: 40px;
            transition: all .4s ease-out;
            @include telefono {
                width: 25%;
            }
            &:hover {
                transform: scale(1.2);
                box-shadow: 18px 17px 24px 3px rgba(0, 0, 0, 0.74);
                -webkit-box-shadow: 18px 17px 24px 3px rgba(0, 0, 0, 0.74);
                -moz-box-shadow: 18px 17px 24px 3px rgba(0, 0, 0, 0.74);
            }
        }
    }
}