@import "base/normalize";
@import "base/variables";
@import "base/mixins";
@import "base/globales";
@import "layout/header";
@import "layout/inicio";
@import "layout/productos";
@import "layout/contacto";
@import "layout/footer";
@import "layout/datos";
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
